@import url(./__logo/header__logo.css);
@import url(./__lang-menu/header__lang-menu.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  margin-top: 28px;
  margin-bottom: 56px;
  padding-right: 48px;
  min-width: 288px;
  height: 52px;
  /*max-width: 1184px;*/
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 288px;
    margin-top: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 1280) {

}
