.place__website_url-heading {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .place__website_url-heading {
    line-height: 1;
  }
}
