.footer__link {
  margin-right: 18px;
  font-weight: normal;
  transition: opacity .25s ease-in-out;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-bottom: 32px;
  }
}