.lead__title {
    text-align: center;
    color: white;
    font-size: 96px;
    font-family: Inter-Black;
    font-weight: bold;
    max-width: 720px;
    padding-top: 8px;
    padding-left: 132px;
    padding-right: 132px;
    min-height: 200px;
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 1.04;
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
  .lead__title {
      padding-left: 104px;
      padding-right: 104px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
      padding-left: 24px;
      padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
    .lead__title {
        /*max-width: 288px;*/
        min-height: 88px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 1.1;
        padding-left: 16px;
        padding-right: 16px;
    }
}
