.lead__title {
    text-align: center;
    color: white;
    font-size: 96px;
    font-weight: 900;
    max-width: 720px;
    margin: 0 auto 32px auto;
    line-height: 1.04;
}

@media screen and (max-width: 725px) {
    .lead__title {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 1.1;
        width: calc(100% - 32px);
    }
}
