.place__text-items {
  max-width: 484px;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
 .place__text-items {
   max-width: 456px;
 }
}

@media screen and (max-width: 768px) {
  .place__text-items {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__text-items {
    max-width: 288px;
  }
}
