@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: 1184px;
  margin: auto;

  min-height: 90vh;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    /*min-height: 640px;*/
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 70vh;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 50vh;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}