.cover__background {
  width: 1184;
  height: 740px;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover__background:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: all 1s linear;
}

.cover__background:hover:before {
  background: #2A2C2F;
  opacity: 0.8;
}

/*.cover__background p {*/
/*  color: white;*/
/*  font-size: 30px;*/
/*  z-index: 1;*/
/*  text-align: center;*/
/*}*/